Response with Body and 204 (No Content) Status Doesn't Return

### Steps to reproduce

Create a route that returns a response with a body and a status code of 204 (No Content):

```swift
router.get { request -> Response in
    let response = request.makeResponse()
    response.http.status = .noContent
    try response.content.encode("Response Body")
    return response
}
```

### Expected behavior

This should either return a response with a status code of 204 and a body of `"Response Body"`, throw an error because the response should have no content, or return a response with a status of 204 and no body.

### Actual behavior

No response is returned, but no errors are thrown and nothing is logged to the console.

### Environment

* Vapor Framework version: 3.0.0-rc.2.8.1
* Vapor Toolbox version: 3.1.4
* OS version: macOS 10.13.4 (17E199)


204 is forbidden from having a content. From RFC 7230 § 3.3.3 "Message Body Length":

>    1.  Any response to a HEAD request and any response with a 1xx
       (Informational), 204 (No Content), or 304 (Not Modified) status
       code is always terminated by the first empty line after the
       header fields, regardless of the header fields present in the
       message, and thus cannot contain a message body.

Additionally, 204 is forbidden from having Content-Length or Transfer-Encoding headers. This means that NIO will strip those off if it sees them, to help avoid violating the RFC.

However, NIO's HTTP serialiser is basically stateless at the moment, which means that it doesn't then enforce that you *don't* send a body. This is likely triggering Vapor's issue.

I'm open to NIO adding a bit of state to its encoder to make sure that it doesn't deserialise obviously terrible things. That would cause us to throw errors in this case, and probably also send a 500 code. Does that sound appealing?

While we're here and listing things for the sake of correctness, 204 No Content is one of a series of exceptions to HTTP/1.1's normal framing rules. NIO currently has a policy on all of them that is enforced by [this test suite](https://github.com/apple/swift-nio/blob/master/Tests/NIOHTTP1Tests/HTTPDecoderLengthTest.swift). The exceptions are as follows:

1. For responses, any response to a HEAD request **must not** contain a body, though it may contain Content-Length or Transfer-Encoding headers that are purely informational and do not affect framing.
2. Any response with a 1XX, 204, or 304 status code **must not** contain a body, and also **must not** set Content-Length or Transfer-Encoding.
3. A 2XX response to CONNECT definitionally has no body: the connection becomes a tunnel after the end of the header block. It's incorrect to set Content-Length or Transfer-Encoding in such a response, though if you do the client **must** ignore those fields.
4. Requests with no content-length or transfer-encoding headers are assumed to have an implicit "Content-Length: 0".
5. Responses with no content-length or transfer-encoding headers that are not covered by the above exceptions have a body of indeterminate length that is signalled by EOF (never do this, please).

This exists more for documentary purposes than anything else: just wanted to remind people that HTTP is hella complicated. :wink: