Fails to parse cookie if it has % in its name

Vapor cannot parse the cookies that has `%` in its name.
(Similar issue: #2359)

According to RFC6265  `cookie-name = <token, defined in [RFC2616], Section 2.2>`.
And accodging to RFC2616:

```
token          = 1*<any CHAR except CTLs or separators>
CHAR           = <any US-ASCII character (octets 0 - 127)>
CTL            = <any US-ASCII control character
                        (octets 0 - 31) and DEL (127)>
separators     = "(" | ")" | "<" | ">" | "@"
                | "," | ";" | ":" | "\" | <">
                | "/" | "[" | "]" | "?" | "="
                | "{" | "}" | SP | HT
```

If I understand correctly, `%` is valid.

`firstParameterToken` tries to find `=` to separate cookie name and value.
But it fails when it find character that is `!character.isDirectiveKey`.
https://github.com/vapor/vapor/blob/45d19c3d9b73f15d18ca51077e165a8fc1ef2f54/Sources/Vapor/HTTP/Headers/HTTPHeaders%2BDirective.swift#L133-L143

And `%` is not `isDirectiveKey`.
https://github.com/vapor/vapor/blob/45d19c3d9b73f15d18ca51077e165a8fc1ef2f54/Sources/Vapor/HTTP/Headers/HTTPHeaders%2BDirective.swift#L249-L251


### Steps to reproduce

Open developer tool and create new cookie that has `%` in its name.
You'll find `request.cookies.all` is empty.

### My problem

My site is `mysite.example.com` and `example.com` is not under my control.
When user access to `example.com`, it sets the cookie `some%40key=value` and `Domain=.example.com` (`%40` is url encoded `@`).
This cookie also affects my site.

`HTTPCookies.init` returns `nil` if there's invalid directive.
https://github.com/vapor/vapor/blob/45d19c3d9b73f15d18ca51077e165a8fc1ef2f54/Sources/Vapor/HTTP/Headers/HTTPCookies.swift#L241-L249
So `%` cookie breaks all other cookies.
(I think this initializer should just ignore invalid directives)

I'm experiencing the same issue!